// Em caso de dúvidas acesse a documentação completa em: http://goo.gl/dz36Cj

/////////////////
// THEME COLOR //
/////////////////

// Exemplo de aplicação:
// $theme-main-color: #808078;
// $theme-neutral-color: #333;

///////////////////
// COLOR PALETTE //
///////////////////

// Exemplos de aplicação:
// $group-main-light10: hsl-diff($theme-main-color, -0.13, 0.81, 6.47); //#654793
// $group-main-dark10: hsl-diff($theme-main-color, -0.28, 1.12, -7.84); //#432F62

$group-lightest: #fff;
$group-darkest: #000;

//////////////////////
// COLOR EXCEPTIONS //
//////////////////////

// Exemplo:
// $button-danger-bg-color: #D9534F;
// $button-success-bg-color: #5CB85C;

/////////////////
// BASE COLORS //
/////////////////

//Exemplo:
// $base-border-color: $group-neutral-light20;
// $base-dark-font-color: $theme-neutral-color;
// $base-input-font-color: $base-dark-font-color;
