/* Override das classes do CouchCMS */

#admin-subnav li.tc-deploy a {
	color: #ba0000;
	font-weight: bold;
}

#admin-subnav li.tc-deploy a:hover {
	color: #8c0000;
}

#admin-subnav .tc-feedback {
	clear: both;
	display: none;
	float: right;
	font-weight: bold;
	margin-top: 5px;
	text-align: right;
}

#admin-subnav .tc-feedback.show {
	display: block;
}

#admin-subnav .tc-feedback.success {
	color: #258c12;
}

#admin-subnav .tc-feedback.fail {
	color: #8c180f;
}

#loading {
	height: 1em;
	display: none;
	margin-left: 1ex;
	vertical-align: -1px;
}

#loading.show {
	display: inline-block;
}
